.fancy-about-page {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  padding: 50px;
}

.left-side {
  flex: 1;
  max-width: 70%; /* Limit image to half of the container */
}

.left-side img {
  width: 100%;
  max-height: 600px; /* Limit image height */
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.right-side {
  flex: 1;
  background-color: white;
  height: 560px; /* Set right side height to match image height */
}

.info {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; /* Ensure content fills the right side */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}


.info ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.info ul li {
  margin-bottom: 10px;
  font-size: 40px;

}

.info ul li strong {
  font-weight: bold;
}
